*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    /*border: solid 3px red;*/ 
    width: 100vw;       
    max-width: 400px;
    min-width: 275px;
    
    /*background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);*/

}

nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
  }
  
label.logo {   
    line-height: 60px; 
    width: 36px;
    padding-left: 30px
    
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }

  nav ul li{    
    display: inline-block;
    line-height: 28px;
    margin: 0 5px;
  }

  nav ul li a{
    color: black;
    font-size: 1.6rem;
    padding: 4px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }

  a.active,a:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    transition: .5s;
  }

  .checkbtn{  
    font-size: 18px; 
    float: right;
    line-height: 42px;
    margin-right: 10px;
    cursor: pointer;
    display: none;  
  }

  #check{
    display: none;
  }

.sec1 {
    width: 100%;
    background:white;
    padding: 50px 0 40px 0;
    transform: skew(0deg, -5deg) translateY(-35px);
}

.container1 {
    width: 100%;
    padding-left: 30px;
    transform: skew(0deg, 5deg);
}
.container1 h1 {        
    line-height: 42px;
    font-size: 3.6em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.container1 h1 span {
    text-decoration: line-through;
}
.container1 p {
    width: 90%;
    padding: 10px 0 50px 0;
    line-height: 22px;
    font-size: 1.4em;
    font-family: 'IBM Plex Mono', monospace;
}
/*Boton sec1*/
a {
    width: 90%;
}
.myButton {      
    font-size: 1.6em;
    line-height: 22px ;
    font-weight:bold;
    font-family: 'IBM Plex Mono', monospace;
	padding:13px 50px;
    text-decoration:none; 
    text-align: center;
    background-color:#00F3BB;	
	display:inline-block;
	cursor:pointer;
	color:black;	
}
.myButton:hover {
	background:linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
	background-color:#00F3BB;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*Termina Boton sec1*/

.sec2 {
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0deg, -5deg) translateY(-60px);
    padding-left: 30px;
    padding-bottom: 120px;
    
}
.container2 {
    transform: skew(0deg, 5deg);
}
.sec2 h2 {

    margin: 30px 0;
    padding-top: 30px;
    font-weight: 500;
    line-height: 42px;
    font-size: 3.6em;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
iframe {  
    width: 90%; 
    margin: 5px 0;  
    border-radius: 10px;    
}


.sec3 {
    transform: skew(0deg, -5deg) translateY(-50px);
    background: white;
}
.sec3 img {
    display: block;
    margin: auto;
    width: 80%;
    transform: skew(0deg, 5deg) translateY(-80PX) ;
    
}
.container3 {
    transform: skew(0deg, 5deg) translateY(-70PX);
}
.sec3 h2 {
    padding-left: 30px;    
    font-weight: 500;
    line-height: 42px;
    font-size: 3.6em;
    font-family: 'IBM Plex Sans', sans-serif;
    color:black;
}
.container3 p {    
    width: 90%;
    padding: 0 0 0 30px;
    line-height: 22px;
    font-size: 1.4em;
    font-family: 'IBM Plex Mono', monospace;
}
.sec4 {
    transform: translateY(-70px);
    background: white;
}
.sec4 h2 {
    padding-left: 30px;
    padding-bottom: 20px;    
    font-weight: 500;
    line-height: 42px;
    font-size: 3.6em;
    font-family: 'IBM Plex Sans', sans-serif;
    color:black;
}
.gallery img {
    display: flex;
    width: 100%;
    margin: 0px;
}

.sec5 h2 {
    padding-left: 30px;
    padding-bottom: 20px;    
    font-weight: 500;
    line-height: 42px;
    font-size: 3.6em;
    font-family: 'IBM Plex Sans', sans-serif;
    color:black;
}
.gallery2 img {
    display: flex;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.sec5 p {
    width: 100%;
    margin-top: 1.5em;
    font-weight: 600;    
    line-height: 22px;
    font-size: 2.4rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.sec6 {
    height: 370px;    
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0deg, -5deg) translateY(150px);
}

.container6 {
    transform: skew(0deg, 5deg) translateY(50PX);
    padding: 0 30px;
}
.fondo {
    height: 38px;
    background:white;
    transform: skew(0deg, 0deg) translateY(-10PX);
}
.sec6 h2 { 
    
    padding-bottom: 20px;
    text-align: center;    
    font-weight: 500;    
    font-size: 4.8rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;

}
.myButton2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 25px;
}
footer {
    background: white;
    padding: 30px 0;    
    transform:  translateY(120px);
}
footer h3 {
    font-family: "IBM Plex Mono";
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.fontawesome {
    font-size: 6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 55%;        
      
}
.fontawesome a {
    width: 20px;
}


@media (max-width: 600px){
    .checkbtn{
      display: block;
      
    }
    ul {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0000EC;
        top: 44px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {        
        display: block;
        margin: 30px 20px;
        line-height: 15px;
        font-family: 'IBM Plex Mono', sans-serif;
        text-align: left;
    }
    nav ul li a{
      font-size: 16px;
      color: white;
      
    }
    a:hover,a.active{
    
      background: none;
      color:#00F3BB;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  /*
  @media screen and (max-width: 700px) {  
    body {
       width: 100%;
    }
    iframe {
        position: relative;
        width: 300px;
        height: 250px;
        padding: 0 15px;
               
    }  

  }
  */
  @media screen and (min-width: 900px) {
    body {
        max-width: 1280px;
    }
    label.logo {           
        padding-left: 100px
    }
    nav img {
        width: 36px;
        margin-top:  25px; ;
            }
    nav ul li {        
        margin: 30px 20px;
        line-height: 26px;
        font-family: 'IBM Plex Mono', sans-serif;
        text-align: left;       

    }
    .sec1 {
        transform: skew(0deg, -5deg) translateY(75px);
    }
    .container1 {        
        padding-left: 200px;            
    }
    .container1 h1 {
        letter-spacing: 0 ;           
        line-height: 40px;
        font-size: 6.4rem;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    br {
        display: none;
    }
    .container1 p {
        transform: translateY(20px);
        width: 90%;
        padding: 0 35rem 5.5rem 0;
        margin-bottom: 4rem;
        line-height: 24px;
        font-size: 1.6rem;
        font-family: 'IBM Plex Mono', monospace;

    }
    .myButton {      
        font-size: 1.3vw;     
        display: inline;              
        
    }
    .sec2 {        
        transform: skew(0deg, -7deg) translateY(130px);
                
    }
    .container2 h2 {
        transform: skew(0deg, 2deg) translateY(0px);
        margin-left: 170px ;
        padding-top: 90px;
        font-size: 4.8rem;   
    }
    .containerframes {
        margin-left: 70px;
        margin-right: 50px;
        transform: skew(0deg, 2deg)
        
    }
    iframe {
        position: relative;
        width: 500px;
        height: 310px;
        padding: 0 30px;
       
        
    }
    .sec3 {
        transform: skew(0deg, -5deg) translateY(200px); 
        display: flex;  
             
    }
    .sec3 img {                
        margin: 0 150px;
        width: 100%;
        transform: skew(0deg, 5deg) translateY(-200PX) ;
    }
    .container3 h2 {        
       padding: 100px 200px 10px 180px; 
       font-size: 4.8rem;
        
    }
    .container3 p {    
        width: 90%;
        padding: 5px 180px;
        font-size: 1.6rem;        
    }
    .sec4 {
        transform: translateY(130px);   
    }
    .sec4 h2 {
        padding: 0 0 40px 120px;
        font-size: 4.8rem;
    }
    .sec5 {
        transform: translateY(130px);  
    }
    .sec5 h2 {
        padding-top: 80px;
        padding-left: 120px;
        font-size: 4.8rem;

    }
    .sec5 p {
        line-height: 30px;
        font-size: 2.4rem;
    }

    .gallery  {        
        display:  grid; 
        grid-auto-flow: dense;
        grid-template: "1fr 1fr 1fr" 33.33vh
                       "1fr 1fr 1fr" 33.33vh; 
        
    }   
    .gallery2  {        
        display:  flex;
        width: 100%;
        padding: 0 150px 0 150px ;
             
    }
    .gallery2 div{        
        width: 50%;
    } 
    .myButton2 {
        display: block;    
        padding: 13px 25px;
    }
    
    .sec6 {
        height: 450px;
        transform: skew(0deg, -6deg)  translateY(250px);
    }    
    .container6 {
        transform: skew(0deg, 6deg) translateY(130px);
    }   
   
    
    footer {
        display: flex;  
        height: 150px;
        padding: 50px 0 0;      
        background: white;
        transform:  translateY(180px);
    }
    footer h3 {        
        padding-left: 15%;
    }
    .fontawesome {  
        margin: 0px;
        padding-left: 40% ;
        
    }
}
